*{
    font-family: "Gilroy";
}
body{
    margin: 0;
    padding: 0;
}

/*  Header  */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
    margin-bottom: 35px;
}
.header-wr{
    display: inherit;
    flex-direction: row;
    gap: 35px;
}
.header-wr > .request{
    padding: 0 15px;
    border: 0;
    border-radius: 5px;
    color: white;
    background-color: #138BD2;
    font-weight: 500;
}
.header-wr > .contacts{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 600;
}
.header-wr > .contacts > a{
    font-weight: 500;
    font-size: 14px;
    color: #565455;
    text-decoration: none;
}
header > img{
    cursor: pointer;
}

/*  КОНЕЦ Header  */

/*  Первая страничка  */
.wrapper{
    display: flex;
    flex-direction: column;
    gap: 40px;

    margin-right: 15vw;
    margin-left: 15vw;
}
.history-menu{
    color: #138BD2;
}
.history-menu > a{
    color: #5F6970;
    text-decoration: none;
}
.history-menu > a:hover{
    color: #B4B4B4;
}
h1{
    color: #3E62AC;
    font-weight: 600;
    font-size: min(9vw, 48px);
    /* margin: 1%; */
}
h2{
    color: #565455;
    font-size: min(6vw, 36px);
    font-weight: 600;
    word-break: break-word;
    text-align: left;
    margin: 0;
}
h3{
    color: black;
    font-size: min(4vw, 24px);
    font-weight: 500;
    word-break: break-word;
    text-align: left;
    margin: 0;
}
.h1-line{
    width: 100%;
    height: 1px;
    background-color: #D4E1EB;
}
.h3-line{
    width: 100%;
    height: 1px;
    background-color: #D4E1EB;
}

.equipment-wr{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    grid-gap: 25px 12px;
}

/*  - Компонент для оборудования  */ 

.individual-wr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    
    width: 19%;
    height: 290px;
    padding: 25px;

    border-radius: 15px;
    background-color: #F3F8FC;
    outline: 2px solid #F3F8FC;
}
.individual-wr > img{
    object-fit: fill;
    height: 160px;
    width: auto;
}
.individual-wr:hover{
    transition: .3s;
    background-color: white;
    outline: 2px solid #B4B4B4;
    color: #B4B4B4;
}
.individual-wr:active{
    transition: .1s;
    outline: 2px solid #35579C;
}

p{
    color: #5F6970;
    font-weight: bold;
}
.more-btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    width: 100%;
    padding: 8px 0;

    background:none;
    color: #35579C;
    font-weight: 500;
    border: 0;

    cursor: pointer;
}
@media only screen and (max-width: 1420px) {
    .individual-wr{
        width: 36%;
    }
}

@media only screen and (max-width: 470px) {
    .header-wr{
        display: none;
    }
    .equipment-wr{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .individual-wr{
        width: 100%;
        padding: 25px 0;
        margin: 0 25px;
        max-width: 300px;
    }
    .more-btn{
        padding: 8px 16px;
    }
}


/*  - КОНЕЦ Компонент для оборудования  */ 

/*  - Всплывающее окно чиллер  */ 

.fullscreen-absolute{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;

    background: rgba(0, 0, 0, 0.45);

    display: none;

}
.pop-up{
    z-index: 50;
    overflow-y: auto;
    overflow-x: hidden;

    
    display: flex;
    align-self: center;
    
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;

    
    width: 60vw;
    max-width: 850px;
    max-height: 75vh;
    padding: 15px 35px 35px 35px;

    border-radius: 30px;
    background: #FFF;
}
.pop-up > button{
    display: flex;
    padding: 15px 25px;
    justify-content: left;
    align-items: center;
    gap: 25px;
    align-self: stretch;

    border-radius: 15px;
    border: 2px solid #D4E1EB;
    background-color: white;

    cursor: pointer;
}
.pop-up > button:hover{
    transition: .3s;
    background-color: #D4E1EB;
}
.pop-up > button:active{
    transition: .1s;
    border: 2px solid #35579C;
}
.pop-up > button > img{
    width: 12%;
    max-width: 39px;
}
.pop-up > img{
    align-self: center;
    width: 25vw;
}
.muted-bg{
    cursor: pointer;
    z-index: -1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
/*  - КОНЕЦ сплывающее окно чиллер  */ 

/*  КОНЕЦ Первая страничка  */


/*  chiller-1-1  */

.settings-wr{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 35px;
    width: 100%;
}
.settings-wr > img{
    object-fit: contain;
    object-position: top;
    max-width: 25vw;
    width: 60%;
    max-height: 350px;
}
.parametrs-wr{
    display: flex;
    flex-direction: column;

    width: 100%;
    min-width: 550px;
    gap: 15px;
}


/*  - Table  */

table{
    /*padding: 15px 0;*/
    width: 100%;
}
tbody{
    width: 100%;
}
tr{
    display: flex;
    width: 100%;
    
}
td, input, select{
    background-color: white;
    outline: #D4D4D4 2px solid;
    font-size: 18px;
    font-weight: 500;
    color: #565455;
    width: 100%;
}
td{
    display: flex;
    padding: 15px;
    align-items: center;
}
input, select{
    width: 100%;
    padding: -15px;
    box-sizing: border-box;
    outline: none;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    border-radius: 0;
}
select::-webkit-scrollbar {
    margin-top: 1px;
    width: 10px;
    height: 10px;
}

select::-webkit-scrollbar-track {
    border: rgb(180, 180, 180);
    background-color: rgba(255, 255, 255, 0);
}
select::-webkit-scrollbar-thumb {
    background-color: #138BD2;
    border: 1px solid white;
    border-radius:15px;
}

select option{
    
    outline: 1px solid red;
    border-radius: 15px;
    background-color: #138BD2;
    color: white;
}

option:not(:checked) {
  background-color: #fff;
  color: #565455;
}
select{
    border-radius: 33px;
    
}
input::placeholder{
    color: #B3B2B2;
}
tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 18px;
}
tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 18px;
}
tr:first-of-type td:first-of-type{
    border-top-left-radius: 18px;
}
tr:first-of-type td:last-of-type{
    border-top-right-radius: 18px;
}
td:last-child{
    text-align: right;
}
/*  - КОНЕЦ Table  */


/*  - Нижние кнопки  */

/*  -- Спрятанные параметры  */

.more-param-wr{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    border: 2px #D4D4D4 solid;
    border-radius: 18px;
}
.more-param-wr > button{
    height: 62px;
    width: 100%;
    
    background-color: #ffffff00;
    border: 0 #D4D4D4 solid;
    border-radius: 16px;
    
    color: #565455;
    font-size: 18px;
    font-weight: 500;

    cursor: pointer;
}
.hidden-param{
    transition: 5s;
    
    border-radius: 33px;
    display: none;
    flex-direction: column;
    padding: 15px;
    gap: 15px;
}
.hidden-heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin: 0 15px;
}
.hidden-heading > img{
    cursor: pointer;
}
/*  -- КОНЕЦ Спрятанные параметры  */

.bottom-btn{
    display: flex;
    gap: 20px;
}

input[type=submit]{
    background-color: #CDE1F0;
    color: white;
    border-radius: 18px;
    height: 62px;
    margin-bottom: 35px;
}
input[type=button], .button-back{
    color: #B4B4B4;
    border: 2px #D4D4D4 solid;
    background-color: white;
    border-radius: 18px;
    height: 62px;
    margin-bottom: 35px;
    width: 5%;
    min-width: 62px;
    cursor: pointer;
}
input[type=submit]:disabled{
    background-color: #CDE1F0;
}
.button-back:hover, .more-param-wr:hover{
    transition: .1s;
    border: 2px #B3B3B3 solid;
}
.button-back:active, .more-param-wr > button:active{
    transition: .2s;
    border: 2px #565455 solid;
    background-color: #565455;
    color: white;
}
/*  - КОНЕЦ Нижние кнопки  */





/*  КОНЕЦ chiller-1-1  */


@media only screen and (max-width: 1120px) {
    .settings-wr {
        flex-direction: column;
    }
    .settings-wr > img{
        width: 50%;
    }
    .parametrs-wr{
        min-width: 0;
        width: 100%;
    }
    tbody{
        width: auto;
    }
    td{
        width: 100%;
    }
}

@media only screen and (max-width: 695px) {
    .wrapper{
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .settings-wr > img{
        max-width: inherit;
    }
    tr{
        flex-direction: column;
    }
    tr:last-of-type td:first-of-type {
        border-bottom-left-radius: 0px;
    }
    tr:last-of-type td:last-of-type {
        border-bottom-right-radius: 18px;
        border-bottom-left-radius: 18px;
    }
    tr:first-of-type td:first-of-type{
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
    }
    tr:first-of-type td:last-of-type{
        border-top-right-radius: 0px;
    }
    table{
        padding-right: 32px;
    }
}

@media only screen and (max-width: 290px) {
    td {
        margin-right: -225px;
    }
}