*{
    font-family: "Gilroy";
}
body{
    margin: 0;
    padding: 0;
}

/*  Header  */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 45px;

    margin: 0 15vw 35px 15vw;
    padding-top: 25px;
    padding-bottom: 15px;
}
.header-wr{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    height: 100%;
}
.header-wr > .request{
    padding: 0 15px;
    border: 0;
    border-radius: 5px;
    color: white;
    background-color: #138BD2;
    font-weight: 500;
}
.header-wr > .contacts{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
    padding: 0 15px;
    
    border: 1px solid #D4D4D4;
    border-radius: 12px;
    
    height: 100%;
}
.header-wr > a{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    border: 1px solid #D4D4D4;
    border-radius: 12px;

    height: 100%;
    width: 45px;
    cursor: pointer;
}
.header-wr > a:hover{
    transition: .1s;
    border: 1px solid #CDE1F0;
}
.header-wr > a:hover > img{
    filter: contrast(0.2);
}
header img{
    cursor: pointer;
}

.header-login, .header-login-phone{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 25px;
    height: 100%;

    border: 0;
    border-radius: 15px;

    font-size: 13px;
    font-weight: 500;

    color: white;
    background-color: #138BD2;

    cursor: pointer;
}
.header-login:hover{
    filter:saturate(2);
}
.header-login-phone{
    display: none;

    width: 45px;
    padding: 2px 0 0 0;
}
.header-login-phone > img{
    scale: 0.9;
}


/*  КОНЕЦ Header  */




/*  Первая страничка  */


.wrapper{
    display: flex;
    flex-direction: column;
    gap: 40px;

    margin-right: 15vw;
    margin-left: 15vw;
    margin-bottom: 5vw;
}
.history-menu{
    color: #138BD2;
}
.history-menu > a{
    color: #5F6970;
    text-decoration: none;
}
.history-menu > a:hover{
    color: #B4B4B4;
}
h1{
    color: #3E62AC;
    font-weight: 600;
    font-size: min(9vw, 48px);
    margin: 0;
    /* margin: 1%; */
}
h2{
    color: #565455;
    font-size: min(6vw, 36px);
    font-weight: 600;
    word-break: break-word;
    text-align: left;
    margin: 0;
}
h3{
    color: #565455;
    font-size: min(5vw, 24px);
    font-weight: 500;
    word-break: break-word;
    text-align: left;
    margin: 0;
}
.h1-line{
    width: 100%;
    height: 1px;
    background-color: #D4E1EB;
}
.h2-line{
    width: 1px;
    background-color: #B4B4B4;
}
.h3-line{
    width: 100%;
    height: 1px;
    background-color: #D4E1EB;
}

.equipment-wr{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    grid-gap: 25px 12px;
}

/*  - Компонент для оборудования  */ 

.individual-wr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    
    width: 19%;
    height: 290px;
    padding: 25px;

    border-radius: 15px;
    background-color: #F3F8FC;
    outline: 2px solid #F3F8FC;

    cursor: pointer;
}
.individual-wr > img{
    object-fit: fill;
    height: 160px;
    width: auto;
}
.individual-wr:hover{
    transition: .3s;
    background-color: white;
    outline: 2px solid #B4B4B4;
    color: #B4B4B4;
}
.individual-wr:active{
    transition: .1s;
    outline: 2px solid #35579C;
}

p{
    font-size: min(4vw, 16px);
    color: #5F6970;
    font-weight: bold;
}
.more-btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    width: 100%;
    padding: 8px 0;

    background:none;
    color: #35579C;
    font-weight: 500;
    border: 0;

    cursor: pointer;
}



/*  - КОНЕЦ Компонент для оборудования  */ 

/*  - Всплывающее окно чиллер  */ 

.fullscreen-absolute{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;

    background: rgba(0, 0, 0, 0.45);

    display: none;

}
.pop-up{
    z-index: 50;
    overflow-y: hidden;
    overflow-x: hidden;

    
    display: flex;
    align-self: center;
    
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;

    
    width: 60vw;
    max-width: 850px;
    max-height: 75vh;
    padding: 35px 35px 35px 35px;

    border-radius: 30px;
    background: #FFF;
}
.pop-up > button{
    transition: .1s;
    display: flex;
    padding: 15px 25px;
    justify-content: left;
    align-items: center;
    gap: 25px;
    align-self: stretch;

    border-radius: 15px;
    border: 1px solid #D4E1EB;
    background-color: white;

    cursor: pointer;
}
.pop-up > button:hover{
    transition: .3s;
    background-color: #D4E1EB;
    border: 1px solid white;
    scale: 0.99;
}
.pop-up > button:active{
    transition: .1s;
    border: 2px solid #35579C;
}
.pop-up > button > img{
    width: 12%;
    max-width: 39px;
}
.pop-up > img{
    align-self: center;
    width: 23vh;
}
.muted-bg{
    cursor: pointer;
    z-index: -1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
/*  - КОНЕЦ сплывающее окно чиллер  */ 

/*  КОНЕЦ Первая страничка  */


/*  chiller-1-1  */

.settings-wr{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 35px;
    width: 100%;
}
.settings-wr > img{
    object-fit: contain;
    object-position: top;
    max-width: 25vw;
    width: 60%;
    max-height: 350px;
}
.parametrs-wr{
    display: flex;
    flex-direction: column;

    width: 100%;
    min-width: 550px;
    gap: 15px;
}


/*  - Table  */

table{
    /*padding: 15px 0;*/
    width: 100%;
}
tbody{
    width: 100%;
}
tr{
    display: flex;
    width: 100%;
    
}
td, input, select{
    background-color: white;
    outline: #D4D4D4 2px solid;
    font-size: 18px;
    font-weight: 500;
    color: #565455;
    width: 100%;
}

td{
    display: flex;
    padding: 15px;
    align-items: center;
}
input, select{
    width: 100%;
    padding: -15px;
    box-sizing: border-box;
    outline: none;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    border-radius: 0;
}
select::-webkit-scrollbar {
    margin-top: 1px;
    width: 10px;
    height: 10px;
}

select::-webkit-scrollbar-track {
    border: rgb(180, 180, 180);
    background-color: rgba(255, 255, 255, 0);
}
select::-webkit-scrollbar-thumb {
    background-color: #138BD2;
    border: 1px solid white;
    border-radius:15px;
}

select option{
    
    outline: 1px solid red;
    border-radius: 15px;
    background-color: #138BD2;
    color: white;
}

option:not(:checked) {
  background-color: #fff;
  color: #565455;
}
select{
    border-radius: 33px;
    
}
td:last-child{
    white-space: nowrap;
}
input::placeholder{
    color: #B3B2B2;
}
tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 18px;
}
tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 18px;
}
tr:first-of-type td:first-of-type{
    border-top-left-radius: 18px;
}
tr:first-of-type td:last-of-type{
    border-top-right-radius: 18px;
}
td:last-child{
    text-align: right;
}
/*  - КОНЕЦ Table  */


/*  - Нижние кнопки  */

/*  -- Спрятанные параметры  */

.more-param-wr{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    border: 2px #D4D4D4 solid;
    border-radius: 18px;
}
.more-param-wr > button{
    height: 62px;
    width: 100%;
    
    background-color: #ffffff00;
    border: 0 #D4D4D4 solid;
    border-radius: 16px;
    
    color: #565455;
    font-size: 18px;
    font-weight: 500;

    cursor: pointer;
}
.hidden-param{
    transition: 5s;
    
    border-radius: 33px;
    display: none;
    flex-direction: column;
    padding: 15px;
    gap: 15px;
}
.hidden-heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin: 0 15px;
}
.hidden-heading > img{
    cursor: pointer;
}
/*  -- КОНЕЦ Спрятанные параметры  */

.bottom-btn{
    display: flex;
    gap: 20px;
}

input[type=submit]{
    background-color: #138BD2;
    color: white;
    border-radius: 18px;
    height: 62px;
    margin-bottom: 35px;
}
input[type=submit]:hover{
    cursor: pointer;
}
input[type=button], .button-back{
    color: #B4B4B4;
    border: 2px #D4D4D4 solid;
    background-color: white;
    border-radius: 18px;
    height: 62px;
    margin-bottom: 35px;
    width: 5%;
    min-width: 62px;
    cursor: pointer;
}
input[type=submit]:disabled{
    background-color: #CDE1F0;
}
input[type=submit]:disabled:hover{
    cursor: not-allowed;
}
.button-back:hover, .more-param-wr:hover{
    transition: .1s;
    border: 2px #B3B3B3 solid;
}
.button-back:active, .more-param-wr > button:active{
    transition: .2s;
    border: 2px #565455 solid;
    background-color: #565455;
    color: white;
}
/*  - КОНЕЦ Нижние кнопки  */





/*  КОНЕЦ chiller-1-1  */

@media only screen and (max-width: 1420px) {
    .individual-wr{
        width: 36%;
    }
}
@media only screen and (max-width: 695px) {
    header{
        margin: 0 5vw 35px 5vw;
    }
    .wrapper{
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .settings-wr > img{
        max-width: inherit;
    }
    tr{
        flex-direction: column;
    }
    tr:last-of-type td:first-of-type {
        border-bottom-left-radius: 0px;
    }
    tr:last-of-type td:last-of-type {
        border-bottom-right-radius: 18px;
        border-bottom-left-radius: 18px;
    }
    tr:first-of-type td:first-of-type{
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
    }
    tr:first-of-type td:last-of-type{
        border-top-right-radius: 0px;
    }
    table{
        padding-right: 32px;
    }
}


@media only screen and (max-width: 1120px) {
    .settings-wr {
        flex-direction: column;
        align-items: center;
    }
    .settings-wr > img{
        width: 50%;
    }
    .parametrs-wr{
        min-width: 0;
        width: 100%;
    }
    tbody{
        width: auto;
    }
    td{
        width: 100%;
    }
}
@media only screen and (max-width: 620px) {
    .pdf-card-wr{
        flex-direction: column;
    }
}
@media only screen and (max-width: 520px) {
    header{
        height: 55px;
        justify-content: space-between;
    }
    header > img{
        height: 45px;
    }
    .header-wr{
        display: none;
    }
    .header-login-phone{
        display: inline;
        width: 55px;
        border-radius: 18px;
    }
}
@media only screen and (max-width: 470px) {
    .equipment-wr{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .individual-wr{
        width: 100%;
        padding: 25px 0;
        margin: 0 25px;
        max-width: 300px;
    }
    .more-btn{
        padding: 8px 16px;
    }
}
@media only screen and (max-width: 290px) {
    td {
        margin-right: -225px;
    }
}




/*  Личный профиль  */
.gap25{
    gap: 25px;
}
.h2-wrapper{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.pdf-card-wr{
    display: flex;
    gap: 25px;

    width: 100%;
    overflow-x: auto;
}
.pdf-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 25px;
    padding: 35px;

    border: 2px #D4D4D4 solid;
    border-radius: 35px;
}

.pdf-card > .heading{
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
    gap: 5px;
}
.pdf-card > .heading > h3{
    font-weight: 600;
}
.pdf-card > .heading > p{
    font-weight: 500;
}
.pdf-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    padding: 10px 15px 10px 10px;
    
    border: 2px #138BD2 solid;
    border-radius: 14px;
    background-color: #138BD2;
    color: white;

    font-size: 18px;
}
.pdf-btn:hover{
    transition: .2s;
    background-color: #41a5df;
    border: 2px #ffffff00 solid;
}
.pdf-btn:active{
    transition: .1s;
    border: 2px #ffffff00 solid;
    background-color: #41a5df80;
    color: white;
}
img{
    transition: .1s;
}
.pdf-btn:active > img{
    transition: .1s;
    filter: brightness(1.5);
}

/*  КОНЕЦ Личный профиль  */




/*  Логин  */


.tip{
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}
.tip p{
    font-weight: 600;
}
.login-wr{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.login-wr label{
    margin-top: 12px;

    color: #35579C;
    font-weight: 600;
    font-size: min(6vw, 36px);
}
.login-wr input[type=text], input[type=email]{
    padding: 15px;
    
    font-size: min(4vw, 18px);
    border-radius: 15px;
    border: 2px solid rgba(86, 84, 85, 0.25);
}
.contact-label{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}
.contact-label > h2{
    font-size: min(5vw, 24px);
    text-wrap: nowrap;
}
.login-wr .bottom-btn{
    margin-top: 12px;
}


/*  КОНЕЦ Логин  */



/*  СМС  */


section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}

.title {
  font-size: 25px;
  margin-bottom: 30px;
}
#otp-form {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
#otp-form input {
  border: none;
  text-align: center;
  padding: 10px;
  width: 100%;
  max-width: 90px;
  height: 140px;
  border-radius: 16px;
  border: 2px solid #D4D4D4;
  margin: 0;

  font-size: 32px;
  font-weight: 500;
  color: #565455;
}
#otp-form > input::-webkit-outer-spin-button,
#otp-form > input::-webkit-inner-spin-button {
    -moz-appearance: textfield;
    -webkit-appearance: none;
}
#otp-form input:focus-visible{
    border: 2px solid #565455;
}
#otp-form input.filled {
    border: 2px solid #b4b4b4;
}

.otp-error{
    display: none;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    border-radius: 18px;

    background-color: #FD7979;
}
.otp-error > p{
    color: white;
    font-weight: 500;
}


/*  КОНЕЦ СМС  */

/*  404  */
.btn-404{
    transition: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    width: auto;
    height: auto;
    
    padding: 15px;
    margin-top: 15px;
    font-size: 18px;
    border: 1px solid;
}
.btn-404:hover{
    border: 1px solid;
}



/*  3d  */


.view-setting{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.view-btn{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px; 
}
.view-btn > button{
    display: flex;
    justify-content: center;
    gap: 10px;

    color: black;
    background-color: transparent;
    border: none;

    font-size: 18px;
    font-weight: Medium;
    text-align: left;
}
.view-btn > button:hover{
    transition: .1s;
    cursor: pointer;
    filter: contrast(0.2);
}
.view-btn > button > font{
    margin-top: 2px;
    font-size: 16px;
    color: #565455;
}
.view-btn > button > img{
    margin-top: -2px;
}

.etalon-1{
    display: none;
}
.etalon-1, .etalon-10{
    margin-top: -40px;
}

*[x-apple-data-detectors=true]{
    color: inherit !important;
    text-decoration: inherit !important;
}

.flex-r{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    position: relative;
}
.flex-r > img{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
.flex-r > img:hover{
    filter: contrast(0.3);
}

.viewer-3d{
    margin-top: -40px;
    width: 100%;
    height: 50vh;
}