/************************************************************************************
VARIABLES
*************************************************************************************/

:root {
    --primary-color: #1b1b1b;
}

/************************************************************************************
RESET
*************************************************************************************/
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, p, pre, table, 
dd, dt, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset {
	margin: 0;
	padding: 0;
}ta

img, fieldset {
	border: 0;
}

/* set image max width to 100% */
img {
	max-width: 100%;
	padding:0px;
	margin:0px;
	height: auto;
	width: auto\9; /* ie8 */
}

/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}

#branding_link {
    width:100%;
    height: 100%;
    position:absolute;
    z-index:1;
}
/************************************************************************************
STRUCTURE
*************************************************************************************/
#pagewrap {
	width: 1050px;
	margin: 0 auto;
}

/************************************************************************************
HEADER
*************************************************************************************/
/*#header {
	width: 100%;
	height: 160px;
	margin: -93px auto 0px 0;
	top: 0px;
    text-align: left;
    position:relative;
}
hgroup {
	padding: 0 10px 10px 10px;
}*/
#searchform {
/*	position: absolute;*/
/*    left: 370px;*/
/*	top: 25px;*/
    margin-top: 25px;
	border: none;
/*	z-index: 100;*/
	width: calc(100% - 370px - 20px - 300px - 10px - 7px);
	height: 30px;
}
.search_result {
    display: none;
	position: relative;
    left: 0px;
	top: 0px;
	z-index:1000;
	width: 450px;
    border: solid 1px #d8d8d8;
	background: #fff;
	margin: 0px 0px 0px 0px;
	text-align: left;
}
.search_result .search_item {
    display:block;
    color: #0085ee;
    border: solid 0px #d8d8d8;
	padding: 3px 3px;
	overflow: hidden;
	font-size: 1rem;
}
.search_result .search_item:hover{
	background: #edf7fd;
	cursor: pointer;
}
.search_result .search_item a {
    display: block;
    height: 100%;
	text-decoration: none;
    color: #0085ee;
}
.search_result .search_item a:hover {
	text-decoration: none;
    color: #0085ee;
}


/************************************************************************************
MAIN NAVIGATION
*************************************************************************************/
#main-nav {
	width: 100%;
	background: #ccc;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0;
	bottom: 0;
/*	z-index: 100;*/
	/* gradient */
	background: #6a6a6a url(images/nav-bar-bg.png) repeat-x;
	background: -webkit-gradient(linear, left top, left bottom, from(#b9b9b9), to(#6a6a6a));
	background: -moz-linear-gradient(top,  #b9b9b9,  #6a6a6a);
	background: linear-gradient(-90deg, #b9b9b9, #6a6a6a);
	/* rounded corner */
/*	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;*/
	/* box shadow */
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
}
.language#main-nav {    
    right: 100px;
}
#main-nav li {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	position: relative;
}
#main-nav li:first-child {
	margin-left: 10px;
}
#main-nav li.lang {
	float: right;
}
#main-nav a {
	line-height: 100%;
	font-weight: bold;
	color: #fff;
	display: block;
	padding: 24px 5px;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}
#main-nav a:hover {
	color: #fff;
	background: #474747;
	/* gradient */
	background: -webkit-gradient(linear, left top, left bottom, from(#282828), to(#4f4f4f));
	background: -moz-linear-gradient(top,  #282828,  #4f4f4f);
	background: linear-gradient(-90deg, #282828, #4f4f4f);
}
/************************************************************************************
CONTENT
*************************************************************************************/
#content {
	width: 740px;
	padding: 0px;
	margin: 0px 10px 0px 0px; /*-73px 30px 30px 0px;*/
	background: #fff;
	overflow: hidden;
	float: left;
	z-index:2;
    position:relative;
	text-align: left;
	min-height: 530px;
}
div.content {
    padding: 10px 20px 20px 20px;
}

/* post */
.post {
	margin-bottom: 40px;
}
.post-title {
	margin: 0 0 5px;
	padding: 0;
	font: bold 26px/120% Arial, Helvetica, sans-serif;
}
.post-title a {
	text-decoration: none;
	color: #000;
}
.post-meta {
	margin: 0 0 10px;
	font-size: 90%;
}

/* post image */
.post-image {
	margin: 0 0 15px;
}

/************************************************************************************
SIDEBAR
*************************************************************************************/
#sidebar {
	width: 300px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 30px 0px; /*-73px 0px 30px 0px;*/
	background: #fff;
	overflow: hidden;
	z-index:2;
    position:relative;
	text-align: left;
	float: right;
}
.widget {
	background: #fff;
	margin: 0 0 30px;
	padding: 10px 20px;
	/* rounded corner */
/*	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;*/
	/* box shadow */
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
}
.widgettitle {
	margin: 0 0 5px;
	padding: 0;	
}
.widget ul {
	margin: 0;
	padding: 0;
}
.widget li {
	margin: 0;
	padding: 6px 0;
	list-style: none;
	clear: both;
	border-top: solid 1px #eee;
}

/* flickr widget */
.widget .flickr_badge_image {
	margin-top: 10px;
}
.widget .flickr_badge_image img {
	width: 48px;
	height: 48px;
	margin-right: 12px;
	margin-bottom: 12px;
	float: left;
}

/************************************************************************************
FOOTER
*************************************************************************************/
#footer {
	clear: both;
	width: calc(100% - 80px);
	padding: 60px 40px 30px 40px;
	background: #212225;
	color: #999999;
	font-size: 0.85rem;
	text-align: left;
}
#footer p {
	padding: 2px 0px;
	color: #999999;
}
#footer div p:nth-of-type(1), #footer div p:nth-of-type(1) a {
	font-size: 1rem;
	color: #fff;
}
#footer a {
    color: #999;
    line-height: 1;
}

/************************************************************************************
CLEARFIX
*************************************************************************************/
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-block; }
.clearfix { display: block; zoom: 1; }

/************************************************************************************
GENERAL STYLING
*************************************************************************************/
html {
	font: 15.4px 'Arial';
	line-height: 1.5;
}
body {
	margin: 0px 0px 0px 0px;
	background-color: #eff1f4;
	text-align: center;
	color: var(--primary-color);
}
/*body:after {
    content:'';
    width: 100%;
    height: 500px;
    background: url('/rates/images/Putin_top.png') no-repeat center top, linear-gradient(105deg, rgba(00, 162, 255, 1) 0%,rgba(84, 161, 255, 1) 37%,rgba(190, 128, 256, 1) 59%,rgba(250, 89, 159, 1)) no-repeat center;
    background-size: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}*/
hr {	color: #d8d8d8;    }
select {
    height: 30px;
    border: solid 1px #d8d8d8;
    padding-left: 7px;
}
select:hover {
    cursor: pointer;
}
input {
	height:30px;
}
input[type="button"]:disabled {
    background: #d8d8d8;
    color: #000;
    cursor: default;
}
input[type="text"] {
    padding: 0px 0px 0px 7px;
    border: solid 1px #d8d8d8;
    height: 28px;
	text-align: left;
}
input[type="button"] {
    padding: 0 10px;
    background: #ff9c00;
    color: #fff;
	border: none;
	text-align: center;
    cursor: pointer;
}
input[type="checkbox"], input[type="radio"] {
    height:15px;
}
label { top: -2px; }

div.menu-head {
	margin: 10px 0px 1px 0px;
	padding: 5px 3px 2px 10px;
	font-size: 14px;
	font-weight: bold;
	background: #00c097;
	color: #fff;
	height: 20px;
}
div.menu-head a {
	color: #fff;
}
div.project {
	margin: 0 0 1px 0;
	padding: 3px 3px 0px 20px;
	font-size: 14px;
/*	font: 20px 'Cambria';*/
/*	border: solid 1px #999;*/
	background: #f5f5f5;
/*	height: 20px;*/
	overflow: hidden;
/*	white-space: nowrap;*/
/*	border-radius: 5px;*/
}
div.project a {
	padding: 0px;
	display: block;
	height: 100%;
	color: #353d4a;
	text-decoration: none;
}
div.project:hover {
	background: #e5e5e5;
}
div.project:hover a {
	text-decoration: none;
}

/* Plots */
.grafic {
	height: 460px;
	margin: 10px 0px 10px 0px;
	border: 0px solid #000;
	background: url(/images/WeatherHistory1.png);
		background-size:		100% 100%;
		-moz-background-size:	100% 100%;
		-o-background-size:		100% 100%;
		-webkit-background-size:100% 100%;
}
.grafic_cont {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	margin: 0px 0px;
	padding: 0px;
	left: -1px;
	border: 0px solid #000;
	text-align: center;
}
/*.about_grafic {
	font-size: inherit;
	color: #444;
	text-align: left;
	padding: 0px 10px;
}*/
.grafic_data  {
	overflow-x: auto;
}
.grafic_data table {
	margin: 0px auto;
	padding: 0px;
	text-align: center;
	border: 1px solid #aaa;
}
.grafic_data table td, .grafic_data table th {
	max-width: 150px;
	width: 150px;
	padding: 10px;
	text-align: center;
	border: 1px solid #aaa;
}
.grafic_data table th {
	font-weight: bold; 
}

.grafic_arrow_left {	background: url(/images/arrow-left1.gif);	}
.grafic_arrow_right {	background: url(/images/arrow-right1.gif);	}
.grafic_arrow_left, .grafic_arrow_right {
	position: absolute;
	cursor: pointer;
	opacity: 0;
/*	background-color: #ccc;
	background-color: transparent;*/
	vertical-align: middle;		
	z-index: 1000;
		background-size:		100% 100%;
		-moz-background-size:	100% 100%;
		-o-background-size:		100% 100%;
		-webkit-background-size:100% 100%;
}
.grafic_arrow_left:hover, .grafic_arrow_right:hover {
	opacity: 0.5 !important;
}
.near_arrow {
	position: absolute;
	opacity: 0.3;
/*	background-color: #ccc;*/
	z-index: 999;
}

/* Всплывающие подсказки */

.jQtooltip {
	position: relative;
	cursor: pointer;
	border-bottom: 1px dashed;
}
.jQtooltip ul{
	padding-left: 20px;
}
.jQtooltip ul li{
/*	margin: 0px 2px;
	padding: 1px 2px;*/
}
.jQtooltip.mini {
	top: -3px;
	width: 10px;
	margin: 0 5px 0 0;
	display: inline-block;
	vertical-align: bottom;
	font-size: 0.6rem;
	text-align: center;
	color: #9A4D18;
	border: 1px solid #aaa; 
	background: #fff;
/*	border: 1px solid #FAD28F;  /* желтоватый  */
/*	background: #FFF6BD;  /* желтоватый  */
	border-radius: 2px;
}
.jQtooltip.mini:hover {
	border: 1px solid #aaa; 
	background: #ff8;
}
.jQtooltip.mini.miniup { top: -8px; }
.jQtooltip.mini div {
	position: absolute;
	left: 15px;
	bottom: -1px;
	z-index: 1000;
	width: 210px;
	padding: 8px 12px;
	font-size: 0.8rem;
	display: none;
	text-align: left;
	line-height: 1rem;
	color: #000;
	box-shadow: 0 1px 3px #C4C4C4;  /* желтоватый  */
/*	border: 1px solid #DBB779;  /* желтоватый  */
/*	background: #FFF6BD;  /* желтоватый  */
	border: 1px solid #ccccFF;  /* голубой  */
	background: #EEEEFF;  /* голубой  */
	border-radius: 5px;
}


a,			.txtbtn			{ color: #2196f3; cursor: pointer; text-decoration: none; padding: 0px 0px; margin: 0px; }
a:hover,	.txtbtn:hover	{ color: #0085ee; cursor: pointer; text-decoration: underline; }

a.noline			{ color: var(--primary-color); text-decoration: none; }
a.noline:hover		{ color: var(--primary-color); text-decoration: none; }

H1 {
	margin: 10px 0px;
	font-size: 2rem;
	padding: 0px 0px 0px 0px;
	text-align: left;
}

H2 {
	margin: 20px 0px 15px 0px;
	font-size: 1.5rem;
	font-weight: bold; 
}

H3 {
	margin: 7px 0 4px 0;
	font-size: 1.2rem;
	font-weight: bold;
}

H4 {
	margin: 7px 0px 4px 20px;
	font-size: 1rem;
	font-weight: bold;
}

p {
	padding: 6px 0px;
	margin: 0px;
	color: var(--primary-color);
}

p.time {
	padding: 0px 0px 5px 0px;
	color: #555;
	font: smaller;
}

.article_anons {
    float: left;
    margin: 5px 0.8%;
    width: 31.8%;
    height: 200px;
    border: solid 1px #e9e9e9;
    overflow: hidden;
}
.article_anons:nth-of-type(3n+1) {  margin-left: 0;     }
.article_anons:nth-of-type(3n) {    margin-right: 0;    }
.article_anons:hover {
    box-shadow: 0 0 8px #ccc;
}
.article_anons:hover a {
    text-decoration: none;
}
.article_anons:hover div.shine_img {
    transition: all .3s;
    transform: scale(1.05);
}

        .article_anons_big {margin:10px 20px 30px 0; float:left; width: calc(50% - 10px);height:300px;}
        .article_anons_big:nth-of-type(2n) {margin-right: 0;}
        .article_anons_big p {font-size:1.2rem;font-weight:bold;color:#333;padding: 5px 0px; line-height: 1.3; /*font-family:Verdana;*/}
        .article_anons_big a:hover {text-decoration:none;}
        .article_anons_big a:hover p {color:#922;}
        .article_anons_big:hover div.shine_img {transition: all .3s;filter:contrast(1.5);}
        .article_anons_big .shine_img {margin-left:0px;width:100%;height:200px;}


div.catalog select {
    height: auto;
    margin: 10px 5px;
}
div.catalog .flt_txt {
    margin-top: 10px;
}
div.catalog table {
    text-align: left;
	border: 0px;
	margin: 0px;
}
div.catalog table td{
	border: 0px;
	padding: 0px;
	font-size: smaller;
	vertical-align: top;
}
div.catalog table td a{
	margin-left: 10px;
}
div.catalog table td h1 a{
	color: #000;
	text-decoration: none;
}

table.fcast {
	border: 0px;
}
table.fcast td {
	width: 120px;
	border: 0px;
	padding: 3px 10px;
	border-image-width: 0px;
}
table.fcast th {
	width: 175px;
	border: 0px;
	padding: 3px 10px;
	font-weight: normal; 
	text-align: left;	
}
table.fcast td h3 img{
	margin-left: 10px;
}
table.fcast th h3 img{
	margin-left: 10px;
}
table.fcast td div {
	margin: -3px -10px;
	width: 140px;
	overflow: hidden;
}
table.fcast th div {
	margin: -3px -10px;
	position: relative;
	width: 195px;
	overflow: hidden;
}
table.fcast th div div {
	position: absolute;
	top: 7px;
	left: 20px;
}




table {
/*    border-spacing: 8px 3px;*/
	margin: 10px auto 10px auto;
    border: 1px solid #fff;
    border-collapse: collapse;
}
table tr td {
    vertical-align: middle;
	padding: 5px 9px;
	text-align: center;
    border: 1px solid #fff;
/*    border-radius: 5px;*/
    background: #edf7fd;
}
table tr th, table caption {
	font-weight: bold;
	padding: 5px 9px;
	text-align: center;
    border: 1px solid #fff;
/*	border-radius: 5px;*/
	background: #26abff;
	color: #fff;
}
table tr td a, table tr th a {
	display: block;
	vertical-align: middle;
	height: 100%;
	text-decoration: none;
}
table tr td a:hover, table tr th a:hover, div a:hover {
	text-decoration: underline;
}
table tr:hover td              {    background: #f0f0f0;   }
table.left td { text-align: left; }
table tr td.nolink a, table tr th.nolink a {
	display: inline;
	height: 100%;
	text-decoration: none;
}
table tr td.nolink a:hover, table tr th.nolink a:hover {
	text-decoration: underline;
}
.table_scroll {
    overflow: auto;
}


table.smart {
/*    border-spacing: 8px 3px;*/
	margin: 6px auto 6px auto;
    border: 1px solid #fff;
}
table.smart tr td {
    vertical-align: middle;
	padding: 5px 9px;
	text-align: center;
    border: 1px solid #fff;
/*    border-radius: 5px;*/
    background: #edf7fd;
}
table.smart tr th, table.smart caption {
	font-weight: bold;
	padding: 5px 9px;
	text-align: center;
    border: 1px solid #fff;
/*	border-radius: 5px;*/
	background: #26abff;
	color: #fff;
}
table.smart tr td a, table.smart tr th a, div.smart a {
	display: block;
	vertical-align: middle;
	height: 100%;
	text-decoration: none;
}
table.smart tr td a:hover, table.smart tr th a:hover, div.smart a:hover {
	text-decoration: underline;
}
table.smart tr:hover td              {    background: #f0f0f0;   }
table.smart.left td { text-align: left; }
table.smart tr td.nolink a, table.smart tr th.nolink a {
	display: inline;
	height: 100%;
	text-decoration: none;
}
table.smart tr td.nolink a:hover, table.smart tr th.nolink a:hover {
	text-decoration: underline;
}

tr.odd {
	background: #f8fbff;
}


#sidebar table {
    width: 100%;
    margin: 0;
/*    margin-top: 0;*/
    border-width: 0px;
    border-collapse: collapse;
}
#sidebar table:nth-child(n+1) { margin-top: 15px; }
#sidebar table tr:nth-of-type(even) td  {  /*  background: #f1faff; */  }
#sidebar table tr:nth-of-type(odd) td   {  /*  background: #fff;   */   }
#sidebar table tr td, #sidebar table tr th {
    padding: 0;
/*    border-width: 0px;*/
}
#sidebar table tr td {
    text-align: left;
}
#sidebar table tr th {
    height: 35.5px;
/*    background: #fff;*/
/*    color: var(--primary-color);*/
}
#sidebar table tr td:first-of-type, #sidebar table tr th:first-of-type {
}
#sidebar table tr td a, #sidebar table tr th a {
    color: var(--primary-color);
	display: block;
	height: 100%;
	padding: 5px 15px 5px 15px;
	text-decoration: none;
}
#sidebar table tr td a:hover, #sidebar table tr th a:hover {
    text-decoration: none;
    cursor: pointer;
}


table.also tr th {
	padding: 2px 9px;
	font-weight: bold; 
}
table.also tr td {
	padding: 0px 3px 0px 6px;
}
div.also {
	width: 100%;
	left: -10px;
	padding: 5px 10px 10px 10px;
	background: #eee;
}

/* Style for Usual tabs */
 .tabs {								/* отвечает за весь внешний блок*/
	padding: 0px;						/*отступы внешнего блока от края */
	width: 750px;						/*ширина внешнего блока*/
	margin: 8px;
}
 
.tabs ul {
	padding: 0px;
} 
.tabs li { list-style:none; float:left;  } /*вид вкладок*/
.tabs ul a {							/*стили вкладок */
	display:block;
	padding: 4px 6px 6px 6px;			/*отступы текста от края вкладок */
	text-decoration:none!important;		/* нет подчеркивания у ссылок */
	border: 0px solid #ccc;
/*	border-bottom: 1px dashed #000080;	/* Пунктирное подчеркивание */
/*	margin:1px;*/
/*	margin-left:0;*/
/*	background:#444;					/* фон вкладок */
}
.tabs ul a:hover	{					/*стили вкладки, когда на нее наведена мышка */
/*	background:#111;					/* фон вкладок */
}
.tabs ul a.selected {					/*стили вкладки, когда она выбрана */
	font-weight: bold;
/*	border-width: 1px 1px 0px 1px;*/
}
.tabs div {								/*стили информационного блока */
	padding: 6px;						/* отступы текста инфо от краев */
	*padding-top:3px;
	*margin-top:-15px;
/*	clear:left;*/
	border: 1px solid #ccc;
}

div.column {
	-webkit-column-count: 4;
	-moz-column-count: 4;
	column-count: 4;
	-webkit-column-gap: 15px;
	-moz-column-gap: 15px;
	column-gap: 15px;
	-webkit-column-rule: 1px solid #ccc;
	-moz-column-rule: 1px solid #ccc;
	column-rule: 1px solid #ccc;
}
div.column3 {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	-webkit-column-gap: 15px;
	-moz-column-gap: 15px; 
	column-gap: 15px;
	-webkit-column-rule: 1px solid #ccc;
	-moz-column-rule: 1px solid #ccc;
	column-rule: 1px solid #ccc;
}
