@media screen and (max-width: 1020px) {
	#pagewrap {width: 100%;}
	#content {width: 72.5%;margin-right: 3%;}
	#sidebar {width: 24.5%;}
	#sidebar .widget {padding: 8% 7%;margin-bottom: 10px;}
	#brand_right {display: none;}

	/* embedded videos */
	.video embed,
	.video object,
	.video iframe {width: 100%;height: auto;min-height: 300px;}
}
@media screen and (max-width: 850px) {
    div.article_anons_big:nth-of-type(n) {margin: 5px 0;width: 100%;height: 300px;}
    #searchform {margin-left: 20px;width: calc(100% - 40px - 7px);}
    #content {width: 57%;margin-right: 3%;margin-top: 0;}
    #sidebar {width: 40%;margin-top: 0;}
}
@media screen and (max-width: 670px) {
	#header {height: auto;}
	#searchform {margin-top: 10px;margin-bottom: 10px;}
	#searchform #s {width: 70px;}
	#searchform #s:focus {width: 150px;}
	#main-nav {position: static;}
	#site_logo {float: none;margin: 10px auto;padding: 0;}
	#site_description {margin: 0 0 15px;position: static;}
/*	#content {width: 100%;float: none;}
	#sidebar {width: 100%;margin: 0;float: none;}
	#sidebar .widget {padding: 3% 4%;margin: 0 0 10px;}*/

	/* embedded videos */
	.video embed,
	.video object,
	.video iframe {min-height: 250px;}
}
@media screen and (max-width: 520px) {
	html {font-size: 18px;-webkit-text-size-adjust: none;}
    .lang #s {margin: 0 5px 0 0;}
    #site_logo {width: auto;text-align: center;}
	#main-nav a {font-size: 90%;font-weight: normal;padding: 10px 3px;}
	#content {width: 100%;margin-right:0;float: none;}
	#sidebar {width: 100%;margin: 0;float: none;}
	#sidebar .widget {padding: 3% 4%;margin: 0 0 10px;}
    .smart.small {font-size: 0.6rem;line-height: 1rem;}
    .demo-container {padding: 0% 0% 0% 0%;margin: 0% -4%;width: 108%;}
    .flot-x1-axis {font-size: 0.65rem;letter-spacing: -1.5px;}
    .flot-y1-axis {font-size: 0.65rem;letter-spacing: -1px;}
}