.demo-container {
	box-sizing: border-box;
	width: 680px;
	margin: 20px 10px 30px 10px;
/*	border: solid 1px #000;*/
/*	background: #936; */
    box-shadow: 0 0 8px #ccc;
}
.demo-placeholder {
	width: 670px;
	height: 382px;
	border: solid 5px #fff;
	border-width: 3px 5px 8px 3px;
	font: 11px 'Cambria';
	font-size: 14px;
	line-height: 1.2em;
	background: url(/images/ValutaArchive2.jpg);
}
.flot-x1-axis {
	letter-spacing: -1px;
}
.legend table {
	border-spacing: 5px;
}
.head-grafic {
	width: 100%;
/*	color: #fff;*/
	font: 18px 'Cambria';
	font-weight: bold; 
	text-align: center;
	border: solid 0px;
	font-size: 22px;
	padding: 10px 0px 15px 0px;
	letter-spacing: -1px;
	overflow: hidden;
}